@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("RobotoSlab"),
    url("./RobotoSlab/Robotoslabmedium.woff2") format("woff2"),
    url("./RobotoSlab/Robotoslabmedium.woff") format("woff");
}

* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: Roboto, sans-serif;

}

body {
    background: #f3f3f3;
}

.page_selector__line {
    background: black;
    width: 30px;
    height: 2px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
}

.user_image{
    background: url("images/user.png");
    width: 10px;
    height: 12px;
}

.head {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url("images/sochi.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 647px;

}

.wrapper {
    margin: 25px auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1040px;
}


header {
    display: flex;
    justify-content: space-between;

}

.info_menu {
    display: flex;
    font-size: 20px;
}


.selector {
    display: flex;
    margin: 0 30px;
    text-align: center;
    align-items: center;
    font-size: 14px;
}

.P_image{
    background: url("images/Р.png");
    width: 10px;
    height: 12px;
}

.selector__image{
    margin: 5px;
}

.header_image {
    width: 11px;
    height: 12px;
    margin: 0 5px;
    display: inline-block;
}

.arrow {
    background-image: url("./images/arrow.png");
    width: 10px;
    height: 5px;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 5px;
}

.support_text {
    font-size: 10px;
}

.number {
    font-size: 14px;
}

.snake {
    background-image: url("./images/snake.png");
    width: 163px;
    height: 300px;
    margin: 0 auto;
    /*left: 0;*/
    /*right: 0;*/
}

.logo {
    width: 90px;
    height: 90px;
    margin: 100px auto 30px auto;
    background-position: center;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 340px;
    margin: 0 auto;

}

.main__heading {
    font-weight: bold;
    font-size: 72px;
    margin: 25px;
}

.main__heading_text {
    font-size: 26px;
}

.submit-button {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background: #64d6ff;
    border: none;
    color: white;
}

.catalog {
    text-align: center;
    margin: 0 auto;
    align-items: stretch;
    width: 100%;
}

.catalog__sort {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    vertical-align: center;
    margin: 20px auto 45px auto;
}

.catalog-text {
    font-size: 26px;
    margin-top: 20px;
}

.cruise__description {
    padding: 10px 20px;
    font-size: 14px;
    color: #0d3351;

}

.cruise {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    text-align: left;
    margin: 13px;
    width: 410px;
}

.img1 {
    background: url("images/back1.png");
    width: 410px;
    height: 380px;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.img2 {
    background: url("images/back2.png");
    width: 410px;
    height: 100px;
    background-repeat: no-repeat;
}

.img3 {
    background: url("images/back3.png");
    width: 410px;
    height: 100px;
    background-repeat: no-repeat;
}

.img4 {
    background: url("images/back4.png");
    width: 410px;
    height: 220px;
    background-repeat: no-repeat;
}

.img5 {
    background: url("images/back5.png");
    width: 410px;
    height: 220px;
    background-repeat: no-repeat;
}

.cruise_alliance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.cruises {
    margin: 0 auto;

}

.bold {
    font-weight: bold;
}

.main-text {
    color: #64d6ff;
    font-weight: bold;
    font-size: 18px;
}

.cruises__row {
    display: flex;
    justify-content: center;
}

.cruise__road {
    display: flex;
    margin: 5px auto;
}

.cruise__during {
    display: flex;
}

.cruise__price {
    margin: 15px 0;
    font-size: 30px;
}

@media (max-width: 1450px) {


    .img3 {
        background-image: url("./images/back6.png");
    }

    /*.wrapper {*/
    /*    margin: 30px 150px;*/
    /*}*/
    .cruise {
        height: 400px;
        width: 300px;
        margin: 10px;
    }

    .cruise__image {
        /*width: 100%;*/
        background-size: cover;
        background-position: center;
        width: 300px;
        height: 230px;
    }

    .cruise_alliance {
        display: block;
    }


    .hidden {
        display: none;
    }
}

@media (max-width: 1200px) {



    .cruise__image {
        /*width: 100%;*/
        background-size: cover;
        background-position: center;
        width: 300px;
        height: 230px;
    }

    .hidden {
        display: none;
    }


    .cruise {
        margin: 20px auto;
    }

    .cruises__row {
        display: block;
        margin: 0 auto;
    }

    .main_heading {
        font-size: 40px;

    }

    .page_selector {
        position: absolute;
    }

    .info_menu {
        display: none;
    }
}