@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("RobotoSlab"),
        /* Если не получилось, загрузит woff2 */
    url("./RobotoSlab/Robotoslabmedium.woff2") format("woff2"),
        /* Если браузер не поддерживает woff2, загрузит woff */
    url("./RobotoSlab/Robotoslabmedium.woff") format("woff");
}

* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: Roboto, SansSerif;
    
}



html {

}

body {
    background: #f3f3f3;
}

.line {
    background: black;
    width: 30px;
    height: 2px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
}

.head {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url("images/sochi.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 647px;

}

.wrapper {
    margin: 30px 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


header {
    display: flex;
    justify-content: space-between;

}

.info_menu {
    display: flex;
    font-size: 20px;
}


.selector {
    display: flex;
    margin: 0 30px;
    text-align: center;
    align-items: center;
    font-size: 14px;
}

.header_image {
    width: 11px;
    height: 12px;
    margin: 5px;
    display: inline-block;
}

.arrow {
    background-image: url("./images/arrow.png");
    width: 7px;
    height: 7px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.support_text {
    font-size: 10px;
}

.number{
    font-size: 14px;
}

.snake {
    background-image: url("./images/snake.png");
    width: 163px;
    height: 300px;
    margin: 0 auto;
    /*left: 0;*/
    /*right: 0;*/
}

.logo {
    width: 110px;
    height: 110px;
    margin: 100px auto 30px auto;
    background-position: center;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 340px;
    margin: 0 auto;

}

.main_heading {
    font-weight: bold;
    font-size: 72px;
    margin: 25px;
}

.heading_text {
    font-size: 26px;
}

.submit-button {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background: #64d6ff;
    border: none;
    color: white;
}

.catalog {
    text-align: center;
    margin: 0 auto;
    align-items: stretch;
    width: 100%;
}

.sort {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    vertical-align: center;
    margin: 20px auto 45px auto;
}

.catalog-text{
    font-size: 26px;
    margin-top: 20px;
}

.description {
    padding: 10px 20px;
    font-size: 14px;
    color: #0d3351;

}

.cruise {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    text-align: left;
    margin: 15px;
    width: 410px;
}

.img1 {
    background: url("images/back1.png");
    width: 410px;
    height: 380px;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.img2 {
    background: url("images/back2.png");
    width: 410px;
    height: 100px;
    background-repeat: no-repeat;
}

.img3 {
    background: url("images/back3.png");
    width: 410px;
    height: 100px;
    background-repeat: no-repeat;
}

.img4 {
    background: url("images/back4.png");
    width: 410px;
    height: 220px;
    background-repeat: no-repeat;
}

.img5 {
    background: url("images/back5.png");
    width: 410px;
    height: 220px;
    background-repeat: no-repeat;
}

.cruise_alliance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.cruises {
    margin: 0 auto;

}

.bold{
    font-weight: bold;
}

.main-text {
    color: #64d6ff;
    font-weight: bold;
    font-size: 18px;
}

.row {
    display: flex;
    justify-content: center;
}

.road {
    display: flex;
    margin: 5px auto;
}

.during {
    display: flex;
}

.price {
    margin: 15px 0;
    font-size: 30px;
}

@media (max-width: 1320px) {



    .img3 {
        background-image: url("./images/back6.png");
    }

    .wrapper {
        margin: 30px 150px;
    }
    .cruise {
        height: 400px;
        width: 300px;
        margin: 10px ;
    }

    .cruise_image {
        /*width: 100%;*/
        background-size: cover;
        background-position: center;
        width: 300px;
        height: 230px;
    }

    .cruise_alliance{
        display: block;
    }



    .hidden {
        display: none;
    }
}

@media (max-width: 1020px) {
    .wrapper{
        margin: 30px 100px;
    }


    .cruise_image {
        /*width: 100%;*/
        background-size: cover;
        background-position: center;
        width: 300px;
        height: 230px;
    }

    .hidden {
        display: none;
    }



    .cruise {
        margin: 20px auto;
    }

    .row {
        display: block;
        margin: 0 auto;
    }

    .main_heading {
        font-size: 40px;

    }

    .page_selector {
        position: absolute;
    }

    .info_menu {
        display: none;
    }
}