* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: Roboto;
}

html {

}

body {
    background: #f3f3f3;
}

.head {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url("images/sochi.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 647px;
    min-width: 900px;
}

.wrapper {
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page_selector {
    width: 35px;
    height: 35px;

}

header {
    display: flex;
    justify-content: space-between;

}

.catalog {
    height: 500px;
}

.info_menu {
    display: flex;
    font-size: 20px;
}


.selector {
    display: flex;
    margin: 0 30px;
    text-align: center;
    align-items: center;
}

.header_image {
    width: 20px;
    height: 22px;
    margin: 5px;
    display: inline-block;
}

.arrow {
    display: inline-block;
    width: 7px;
    height: 7px;
}

.support_text {
    font-size: 15px;
}

.snake {
    margin: 0 auto;
    /*left: 0;*/
    /*right: 0;*/
}

.logo {
    width: 110px;
    height: 110px;
    margin: 35px auto;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 340px;
    margin: 0 auto;

}

.main_heading {

    font-size: 60px;
    margin: 20px;
}

.heading_text {
    font-size: 25px;
}

.submit-button {
    width: 180px;
    height: 50px;
    margin: 0 auto;
    background: #64d6ff;
    border: none;
    color: white;
}

.catalog {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    align-items: stretch;
}

.sort {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    vertical-align: center;
}

.description{
    padding: 10px 20px;
}

.cruise {
    background: white;
    text-align: left;
    margin: 15px;
}


.cruise_alliance{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.main-text{
    color: #64d6ff;
    font-weight:bold;
}

.row {
    display: flex;
}

.road {
    display: flex;
    margin: 5px auto;
}

.during {
    display: flex;
}

.price {
    margin: 15px 0;
}

@media (max-width: 1300px) {

    .row {
        display: block;
    }

    .main_heading {
        font-size: 40px;

    }

    .page_selector {
        position: absolute;
    }

    .info_menu {
        display: none;
    }
}